syntax: glob

# VS stuff
out/
.vs/
*.filters
*.user
*.aps
*.ncb
*.opendb
*.opensdf
*.sdf
*.cachefile
*.VC.db
*.psess
*.vsp
*.vspx

# VS solution/projects folder
IDE/

# Build output
Binaries/

# CMake
CMakeFiles/

# Python
*.pyc